import * as React from 'react';
import { View, Text } from 'react-native';

const {{ componentName }} = () => {
    render() {
        return(
            <View>
                <Text>{{ componentName }}</Text>
            </View>
        );
    }
}
