import * as React from 'react';
import { View, StyleSheet } from 'react-native';
import PropTypes from 'prop-types';

interface Props {

}

interface State {

}

class {{ fileName }} extends React.Component<Props, State> {

    state = {
        
    };

    constructor(props: Props) {
        super(props);
    }

    render() {
        return <View style={styles.container}>

        </View>;
    }
}

const styles = StyleSheet.create({
    container: {
        flex: 1,
    },
});

{{ fileName }}.propTypes = {
    
};

export default {{ fileName }};